* {
    margin:0;
    padding: 0;
    border: 1px red olid;
}
a {
    color: #8e99af;
    text-decoration: none;
}

.nav-bar {
    display: inline-block;
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color:white;
}

.logo {
    margin-left: 8%;
    font-size: 24px;
    color: #ffffff;
    padding-top:1%;
}

.links {
    margin-right: 10%;
    font-size: 1.5rem;
    padding:1%;
    display:flex;
    justify-content: space-between;
    width:25%;
}


h1 {
    color:white;
    padding-top:15%;
    font-size: 4rem;
    font-weight:900;
}

.top {
    background-color: #1F2937;
    display:flex;
    justify-content: space-around;
}

.top-secondary-text {
    color: #E5E7eb;
    font-size: 2rem;
    padding: 10% 0;
}

.top-left {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 20px;
    width:50rem;
    margin: left 100px;
}

img {
    width:25%;
    padding:100px
}

button {
    width:20%;
    padding:10px;
    margin-top: 10px;
    font-size: 1.5rem;
    background-color: #3882F6;
    color:white
}

.images {
    display: flex;
    width:75%;
    text-align: center;
    font-size: 150%;
    margin: 0 auto;
}

.info-main-text {
    text-align: center;
    padding-top:3%;
    font-size: 3rem;
    font-weight: 900;
    color:#1F2937;
    margin-bottom:20px
}

.image1 p, .image2 p, .image3 p {
    width:50%;
    margin:0 auto;
    padding:10px;
}

.image1, .image2, .image3 {
    width:90%;
    padding:20px;
}

.quote {
    background-color: #e5e7eb;
    text-align: left;
    height:45rem;
    margin-top:7rem;
}

.quote h3 {
    margin-top: 1rem;
    padding-top:15rem;
    font-size: 3rem;
    color: #1f2937;
    font-weight: 100;
    font-style: italic;
    width:35%;
    margin: 0 auto
}

.quote p {
    padding:1rem;
    font-size:2rem;
    text-align: center;
    font-weight:900;
    margin-left:50rem;
    margin-top:1rem
}